.org-tree,
.org-tree ul,
.org-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.org-tree {
  display: inline-flex;
  justify-content: center;
}

.org-tree ul {
  display: flex;
  padding-top: 28px;
  position: relative;
}

.org-tree li {
  flex: 1;
  text-align: center;
  position: relative;
  padding: 28px 12px 0 12px;
}

.org-tree li::before,
.org-tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 28px;
  border-top: 1px solid var(--border);
}

.org-tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid var(--border);
}

.org-tree li:only-child::after,
.org-tree li:only-child::before {
  display: none;
}

.org-tree li:only-child {
  padding-top: 0;
}

.org-tree li:first-child::before,
.org-tree li:last-child::after {
  border: 0 none;
}

.org-tree li:last-child::before {
  border-right: 1px solid var(--border);
}

.org-tree li:first-child::after {
  border-left: 1px solid var(--border);
}

.org-tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid var(--border);
  width: 0;
  height: 28px;
}
